.myWork-container img{
    &:hover{
        transform: scale(1.05);
        border: 4px solid #ff00ff;
        border-radius: 10px;
        transition: 0.3s;
    }
}

.btn{
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 30px;
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    &:hover{
        color: white;
        border: none;
        transform: scale(1.20);
        background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);


    }
}