/* .about-skill{
    display: flex;
    gap: 20px;
    align-items: center;
    transition: 0.3s;

    &:hover{
        transform: scale(1.05);
        transition: 0.3s;
    }
}

.about-skill p{
    min-width: 150px;
    font-size: 20px;
    font-weight: 500;
}

.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg,#DF8908 -5.09%,#B415FF 106.28%);

} */
.about-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-item{
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    padding: 25px;  
    background-image: linear-gradient(90deg,rgba(17, 134, 229, 0.394)0%, rgba(255,255,255,0) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;

    &:hover{
        background-size: 100% 100%;
    }
}

.about-item h3{
    font-size: 25px;
    font-weight: 600;
}