.nav-connect{
    transition: 0.5s;

    &:hover{
        transform: scale(1.05);
    }
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img{
    display: flex;
    margin: auto;
}
